EXPO_PUBLIC_STAGE=dev

EXPO_PUBLIC_API_URL=https://app.securecontainer-ec.com/api
EXPO_PUBLIC_API_URL_IOS=http://192.168.13.105:3050/api
EXPO_PUBLIC_API_URL_ANDROID=http://192.168.13.105:3050/api
EXPO_PUBLIC_COLOR_PRIMARY=#030521
EXPO_PUBLIC_COLOR_SECONDARY=#5ae51f
EXPO_PUBLIC_OPENCAGE_API_KEY=e909ac2cef0844e78224e5752e532acc